<<<<<<< HEAD
html{box-sizing:border-box}*,*::after,*::before{box-sizing:inherit}.gh-header{padding:30px 0 30px 30px;background-color:#3c3;opacity:0.5;-webkit-transition:padding,0.2s;-moz-transition:padding,0.2s;transition:padding,0.2s;position:fixed;top:0;width:100%}.gh-header h2{margin:0;font-size:2em;font-family:'Raleway', Arial, Open Sans}.gh-header.shrinked{padding-top:20px;padding-bottom:20px}.main.container{margin-top:150px}#chart .link{-webkit-transition:all,0.3s;-moz-transition:all,0.3s;transition:all,0.3s}#chart .node rect{cursor:pointer}
=======
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

html {
  background-color: #ffffef; }

#chart .link {
  -webkit-transition: all, 0.2s;
  -moz-transition: all, 0.2s;
  transition: all, 0.2s;
  cursor: pointer; }

.counties {
  fill: none; }

.states {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round; }

.q0-9 {
  fill: #f7fbff; }

.q1-9 {
  fill: #deebf7; }

.q2-9 {
  fill: #c6dbef; }

.q3-9 {
  fill: #9ecae1; }

.q4-9 {
  fill: #6baed6; }

.q5-9 {
  fill: #4292c6; }

.q6-9 {
  fill: #2171b5; }

.q7-9 {
  fill: #08519c; }

.q8-9 {
  fill: #08306b; }

.overlay {
  fill: none;
  pointer-events: all; }

.state {
  fill: #aaa; }

.county-border,
.state-border {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
  stroke-linecap: round; }
>>>>>>> 44dbae2c4878bdc4b0d18533d781eda8caecf4be
