html {
	/*background-image: linear-gradient(135deg, #3c3, #f9f90e);*/
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.gh-header {
	padding: 30px 0 30px 30px;
	background-color: #3c3;
	opacity: 0.8;
	box-shadow: 0 1px 5px rgba(0,0,0,.1);
	@include transition(padding, 0.2s);
	position: fixed;
	top: 0;
    width: 100%;

	h2 {
	    margin: 0;
	    font-size: 2em;
	    font-family: 'Raleway', Arial, Open Sans;
	}

	&.shrinked {
		padding-top: 20px;
		padding-bottom: 20px;

		h2 {
			// font-size: 1.5em;
		}
	}
}

.main {
	@include display(flex);
    @include justify-content(space-between);
    background: url("http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/weather.png");
    margin: 200px 0px;
    padding: 50px 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
    opacity: 0.9;
}

#chart {
	.link {
		@include transition(all, 0.3s);
	}

	.node rect {
		cursor: pointer;
	}
}