<div class="gh-header">
	<h2>LEGION</h2>
	<button id='btn-update-gender'>Gender</button>
	<button id='btn-update-age'>Age</button>
	<button id='btn-update-occupation'>Occupation</button>
	
</div>
<div class="main">
	<div id="map"></div>
	<div id="label" style="position: absolute; left: 35px; top: 150px; color: #262626;">
		Region: Australia
	</div>

	<div id="chart" class="center-align"></div>
</div>

<script>
	$(document).ready(function(){
		window.addEventListener('scroll', function(e){
			if(window.scrollY >= 100){
				$('.gh-header').addClass('shrinked');
			}else{
				$('.gh-header').removeClass('shrinked');
			}
		});
	});
</script>
