<div class="gh-header">
	<h2>LEGION</h2>
</div>
<div class="main">
	<div id="map"></div>
	<div id="chart" class="center-align"></div>
</div>

<script>
	$(document).ready(function(){
		window.addEventListener('scroll', function(e){
			if(window.scrollY >= 100){
				$('.gh-header').addClass('shrinked');
			}else{
				$('.gh-header').removeClass('shrinked');
			}
		});
	});
</script>