<div class="gh-header">
	<h2>LEGION</h2>
</div>

<div class="mainContainer">
	<div class="card blue-grey darken-1 lozenge">
	    <div class="card-content white-text">
	      <span class="card-title">Did you know?</span>
	      <h4>According to the data we used...</h4>
	      	<p>There is only 1 area in Australia having fewer negatively geared population than positively geared.</p>
	      	<p>The youngest negatively geared person is between 15 - 19 years.</p>
	      	<p>Overall, sales workers are the least negatively geared people.</p>
	      	<p>And more...</p>
	      	<div class="card-action">
              <p class="amber-text center-align">Discover More Below</p>
            </div>
	    </div>
	  </div>

	<div class="main" style="position: relative">
		<div id="map">
			<h5 class="help center-align"><i class="material-icons">info</i>Zoom in/out with mouse click.</h5>
		</div>
		<div id="label" class="map-label">
			Region: Australia
		</div>
		<div id="chart" class="center-align">
			<h5 class="help center-align"><i class="material-icons">info</i>Group by variable.</h5>
			<div class="button-group">
				<button id='btn-update-gender' class="btn waves-effect green">Gender</button>
				<button id='btn-update-age' class="btn waves-effect green">Age</button>
				<button id='btn-update-occupation' class="btn waves-effect green">Occupation</button>
			</div>
		</div>
	</div>
</div>

<script>
	$(document).ready(function(){
		window.addEventListener('scroll', function(e){
			if(window.scrollY >= 100){
				$('.gh-header').addClass('shrinked');
			}else{
				$('.gh-header').removeClass('shrinked');
			}
		});
	});
</script>
