<div class="gh-header poc">
	<h2>Logo</h2>
</div>

<div class="property-rank-poc">

	<div class="user-input-wrapper">
		<div class="input-field">
			<i class="material-icons prefix">home</i>
	      <input id="property-addr" type="text">
	      <label for="property-addr">Type the property address here</label>
	    </div>
	</div>

</div>

<script>
	$(document).ready(function(){

	});
</script>